


body {
  background: #000;
}

section {
  padding: 2rem 7%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1.2rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

#menu-btn {
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
 

