.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../../images/home-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 60rem;
}

.home .content h3 {
  font-size: 6rem;
  text-transform: uppercase;
  color: #010103;
}

.home .content p {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #010103;
  font-weight: 500;
}

@media (max-width: 768px) {
  .header .search-form {
    width: 90%;
    right: 2rem;
  }

  .home {
    background-position: center;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}
