.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

.logo img {
  height: 5rem;
}

.logo-text {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.badge {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border-radius: 50%;
  margin-left: -0.2rem;
  margin-top: -1.2rem;
  color: #fff;
  font-size: 1.8rem;
  display: inline;
}

@media (max-width: 991px) {
  .header {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: var(--main-color);
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .header .navbar a:hover {
    color: #fff;
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
  }

  .header .search-form {
    width: 90%;
    right: 2rem;
  }
}
